body {
  box-sizing: border-box;
}

.test-step {
  display: none;
}
.header1 {
  display: none;
}
.header1.active {
  display: flex !important;
  transition: 1s;
}
.test-step.active {
  display: block;
}
.app__start-page.test-step.active {
  display: flex;
}
.input[type="tel"] {
  padding-left: 90px !important;
}
.phone {
  padding-left: 90px !important;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: url("../images/main-bg.png") no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 700px) {
  #myVideo {
    position: relative;
    display: block;
    min-width: auto;
    min-height: auto;
  }
}
@media (max-width: 818px) {
  .final-page_horizontal {
    display: block;
    padding: 30px 25px;
  }
}

.botom__info {
  border: 2px solid red;
  margin-top: 13px;
  /*position: fixed;*/
  /*bottom:0;*/
  /*left: 0;*/
  /*right: 0;*/
  display: flex;
  padding: 3px;
  /*z-index: 9999999999999;*/
  /*animation: alertI 4s infinite;*/
}
.botom__info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*background-color: #3e3e3e;*/
  width: 100%;
  padding: 0.3rem;
}
.botom__img-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.contr-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.countr-img {
  width: 38px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid #f1f1f1;
  margin-top: 3px;
  margin-bottom: 3px;
}
.countr-pref {
  font-size: 14px;
  color: black;
  font-family: "Roboto", Arial, sans-serif;
  margin-right: 4px;
  margin-left: 4px;
}
.botom__info-text {
  font-size: 14px;
  color: black;
  font-family: "Roboto", Arial, sans-serif;
  margin-top: 10px;
}
@keyframes alertI {
  0% {
    background-color: #fff;
  }
  25% {
    background-color: #d21e2f;
  }
  50% {
    background-color: #d21e2f;
  }
  75% {
    background-color: #d21e2f;
  }
  100% {
    background-color: #fff;
  }
}
@media all and (max-width: 680px) {
  .botom__info-container {
    align-items: center;
  }
  .botom__img-container {
    width: 80%;
    justify-content: center;
  }
  .botom__info-text {
    text-align: center;
  }
  .countr-img {
    width: 20px;
    height: 22px;
    border-radius: 4px;
  }
}

/*==== FORM ========*/
.form .input-wrap {
  margin: 10px 0;
}
.form .input-wrap input {
  height: 50px !important;
  padding: 0 1rem;
  border-radius: 5px;
  width: 100%;
}
.form .input-wrap .vue-tel-input {
  border-radius: 5px;
}
.form .input-wrap .vue-tel-input input {
  border-radius: 0 5px 5px 0;
}
.form .input-wrap .vue-tel-input .vti__dropdown {
  border-radius: 5px 0 0 5px;
}
.form .input-wrap .vue-tel-input .vti__dropdown .vti__dropdown-item {
  color: #333;
}
.form .checkbox-wrap {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 13px;
}
.form .checkbox-wrap input {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}
.form .checkbox-wrap label {
  text-align: left;
}
.form .input-wrap button {
  min-height: 48px;
  background-color: #c82527;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: all ease 0.2s;
  cursor: pointer;
}
.form .input-wrap button:hover {
  opacity: 0.8;
}
.form .input-wrap button:active {
  transform: scale(0.98);
}

.lead-form {
  background-color: #fff;
  padding: 15px;
  border-radius: 16px;
}
.form .input-wrap button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(10%, hsla(0, 0%, 100%, 0.1)),
    color-stop(20%, hsla(0, 0%, 100%, 0.2)),
    to(hsla(0, 0%, 100%, 0.6))
  );
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.1) 10%,
    hsla(0, 0%, 100%, 0.2) 20%,
    hsla(0, 0%, 100%, 0.6)
  );
  width: 20px;
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  left: -20%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-animation-name: blick;
  animation-name: blick;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.terms__text ul li {
  list-style: disc inside;
}

.logo-holder img {
  display: block;
}

.final-page-top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.final-page-top-block .start-page__line {
  margin-top: 1rem;
}

.final-page-top-block h2 {
  color: #fff;
  max-width: 702px;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.final-page-bottom-block {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

form .input-wrap input[type="tel"] {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.final-page__header {
  max-width: 690px;
}

.final-page__header video {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .final-page-bottom-block {
    flex-direction: column;
  }
}

@media screen and (max-width: 818px) {
  .logo-holder {
    background-color: #bbb;
    padding: 10px;
  }
}
